@use './posts.scss';

.user-container {
    @include posts.gridDisplay();
}

/* PC screens */
@media only screen and (min-width: 1000px) {

    img {
        max-width: 90%;
        height: auto;
    }


}

/* Phone and tablet screens */
@media only screen and (max-width: 1000px) {

    img {
        max-width: 90%;
        height: auto;
    }

    .user-container {
        grid-template-columns: 1fr;
    }

}